/*Schrijf hier jouw eigen CSS!*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    margin: 20px;
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    flex-grow: 1;
    flex-shrink: 0;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    width: 200px;
    margin: 20px;
    height: 350px;
    padding: 20px;
}

.pokemon-card-list {
    list-style: disc;
}